/* @override http://gont.ljc.laika.com/Redleaf/css/manual.css */

/* 
 *	Redleaf Manual Stylesheet
 *	$Id$
 *  
 */

/* Import the code-highlighting styles derived from the 'deveiate' TextMate theme */
@import url(deveiate.css);

/* Uses the "Brazilian Red Cap" Palette from COLOURlovers:
 *   http://www.colourlovers.com/palette/91529/Brazilian_Red_Cap
 * 
 * RGB: 240, 24, 24
 * Hex: #F01818
 * 
 * RGB: 144, 0, 0
 * Hex: #900000
 * 
 * RGB: 243, 243, 243
 * Hex: #F3F3F3
 * 
 * RGB: 72, 72, 96
 * Hex: #484860
 * 
 * RGB: 120, 120, 144
 * Hex: #787890
 * 
 */

body {
	margin: 0;
	padding: 2em 4em;
	font: 14px/1.2em "Helvetica Neue", Helvetica, Tahoma, sans-serif;
	background: #f3f3f3;
	color: #333;
	border-left: 5px solid #ca2f1b;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
	color: #484860;
}
h1,h2,h3 {
	text-shadow: #a7a7a7 1px 1px 2px;
}
h1 {
	font-size: 3em;
	margin: 0.5em 0 0;
	color: #ca2f1b;
	text-shadow: #999 2px 2px 3px;
}
h2 {
	font-size: 2em;
	margin: 1em 0 0;
}
h3 {
	font-size: 1.5em;
	margin: 1em 0 0;
}
h4 {
	font-size: 1.25em;
	margin: 1em 0 0;
}

p, ul {
	line-height: 1.5;
}

li {
	margin: 0.5em 0;
}

acronym, abbr {
	border-bottom: 1px dotted #666;
}

a {
	color: #791707;
	text-decoration: none;
	border-bottom: 1px dotted;
}
a + img {
	border: 0;
}

dl {
	margin: 1em 2em;
}
dl dt {
	font-weight: bold;
	border: 1px solid #ccc;
	background-color: #e7e7e7;
	color: #484860;
	padding: 4px;
}
dd {
	padding: 4px;
	margin: 0 0 0.5em;
}
dd.format {
	color: #791707;
	background: #ddd;
	padding: 2px 10px;
}

dt + dd {
	margin-top: 0.25em;
}
dd + dt {
	margin-top: 1em;
}

code {
	background: #ddd;
}

table {
	margin: 1em;
	background-color: #fff;
	border-collapse: collapse;
}
th {
	color: white;
	background: #484860;
}
tr {}
td, th {
	padding: 4px;
	border: 1px solid #484860;
}

div.screenshot {
	margin: 1em 3em;
}
div.screenshot img {
}


/* @group IDed Elements */
#intro-header {
	text-align: center;
}

#footer {
	margin-top: 2em;
	border-top: 1px solid #c0c0d5;
}

/* @end */


/* @group Generic Classes */
.todo {
}
/* @end Generic Classes */


/* @group Examples */
div.caption {
	font-size: 12px;
	text-align: center;
	padding: 0.25em 0;
	border-top: 1px solid #787890;
}
div.example {
	border: 3px solid #787890;
	margin: 0.5em 1em;
	padding: 0;
	font: 14px Monaco, Profont, "Andale Mono", mono;
}
div.example pre {
	line-height: 1.2em;
	margin: 0;
	padding: 0;
}

pre.deveiate .line-numbers {
	background-color: #474860;
	color: #f3f3f3;
}

/* @end Examples */



/* @group Template node-display classes */
.node-tree {
    border: 1px dotted #333;
    margin: 2px;
    padding: 4px;
    background: #999;
}

.node-subtree {
    border: 1px dotted #666;
    padding: 4px 8px;
    margin: 1px 4px;
    background: #CCC;
}

.node-subtree-head {
    color: #333;
}

.node {
    border: 1px solid black;
    margin-bottom: 4px;
}

.node-head {
    border-bottom: 1px solid black;
    font-weight: bold;
    font-variant: small-caps;
    padding: 2px;
    color: black;
    background: #f3f3f3;
}

.node-body {
    background: #e3e3e3;
    padding: 2px 4px 4px 4px;
}

.node-subtemplate {
    background: #999;
    border: 1px dotted #333;
    margin: 2px;
    padding: 4px;
}

.text-node-body {
    background: #CCC;
    font-family: "Andale Mono", "ProFont", "Monotype.com", fixed;
}
.call-directive-node-body,
.attr-directive-node-body { background: #CDC; }
.escape-directive-node-body { background: #DCC; }
.yield-directive-node-body { background: #DDC; }
.if-directive-node-body,
.else-directive-node-body,
.elsif-directive-node-body { background: #BCD; }
/* @end */

/* @group Template syntax-highlighted html classes */
.highlighted-source {
    border: 1px dotted #333;
    margin: 2px;
    padding: 10px;
    background: #ccc;
}

.token {
    font-family: "Vera Sans Mono", "Andale Mono", fixed;
    color: #333;
}

.text-token { color: #666; }
.comment-token { color: #666; background: #cdc; }
.doc-type-token { color: #226; background: #ccd; }

.tag-token { color: #242; background: #b9b9b9; }
.tag-token-name { color: #272; }
.tag-token-attr-name { color: #262; }
.tag-token-attr-value { color: #333; }

.processing-instruction-token,
.tag-attr-directive {
    color: #933;
    background: #dcc;
    font-weight: bold;
}
/* @end */

